@keyframes slideDown {
     0% {
          top: -10%;
     }
     100% {
          top: 11%;
     }
}
@keyframes slideUp {
    0% {
        top: 11%;
    }
    100% {
        top: -10%;
    }
}
.error_alert-layer {
     position: fixed;
     top: 11%;
     border-radius: 5px;
     width: 100%;
     z-index: 9999; 
     animation: slideDown 0.3s ease-out forwards, slideUp 0.3s ease-in 3s forwards;
}
.error_alert-content {
     padding: 1.1rem 2rem;
     text-align: center;
     border-radius: 5px;
     display: flex;
     justify-content: center;
     background-color: #a0212199;
     height: 100%;
     font-size: 1.09rem;
     align-items: center;
     font-family: system-ui;
     width: 50%;
}